body { 
    padding-top: 60px; 
}


.navbar {
    padding: 5px 0; /* diminue l'espace autour du contenu dans la barre de navigation */
}


.navbar-brand {
    padding: 5px 0; /* diminue le padding autour du logo */
}

/* rend le texte "Watson" invisible,*/
.navbar-brand span.sr-only {
    font-size: 0;
}

/* couleur card formulaire */
.custom-header {
    background-color: rgb(33, 37, 41) !important; /* Fond noir */
    color: white !important; /* Texte blanc */
}


#logo {
    width: 150px; 
    height: auto; 
    display: block;
    overflow: hidden;
    padding-top: 5px; /* espace au-dessus du logo */
    background: url("../images/logo.png") no-repeat center center;
    background-size: contain; 
}

#content{
    margin-top: 5%;
}



.footer {
    border-top: 1px solid #ccc;
    padding-top: 5px; 
    text-align: center;
    margin-top: 20px; 
}


.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}


.linkTitle{
    text-decoration-line: none;
    font-weight: bold;

    &:hover{
        text-decoration-line: underline;
    }
}


.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}


#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.nav-link .active{
    color: white;
}


@media only screen and (max-width: 768px) {
    .linkCard{
        margin: 3% auto;
    }
}
